<div class="container d-flex flex-column"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>
  <h1><%= @chatroom.name %></h1>

  <div class="messages flex-grow-1" data-chatroom-subscription-target="messages">
    <div class="messages-inner">
      <% @chatroom.messages.each do |message| %>
          <%= render "messages/message", message: message %>
      <% end %>
    </div>
  </div>


  <div class="message-form">
    <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
    %>

    <%= f.input :content,
      label: false,
      placeholder: "Message #{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"}
      %>
        <%= f.submit "Send", class: "btn btn-primary mb-4" %>
      <% end %>
  </div>

  <!-- arrange my date  model trigger -->

  <!-- logic to find our match and out date -->

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#arrangedate">
    arrange my date
  </button>


<!-- arrange my date -->
<div class="modal fade" id="arrangedate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" data-controller="insert-date-details">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">arrange my date</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <%= link_to chatroom_suggested_dates_path(@chatroom), data: {turbo_method: :post} do %>
          <button class="btn btn-primary">Lucky dip</button>
          <%# <button class="btn btn-primary" data-action="click->insert-date-details#insert" data-insert-date-details-target="lucky">Lucky dip</button> %>
        <% end %>
        <%= simple_form_for [@chatroom, @suggested_date], data: {insert_date_details_target: "form", action: "submit->insert-date-details#insert"} do |f| %>
          <%= f.association :match, as: :hidden, input_html: { value: @chatroom.match.id } %>
        <%= f.submit %>
        <% end %>
        <div id="date-details" data-insert-date-details-target="details">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--view my date modal-->

<div style="height: 40px"></div>
