<div class="container d-flex flex-column"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>
  <h1><%= @chatroom.name %></h1>

  <div class="messages flex-grow-1" data-chatroom-subscription-target="messages">
    <div class="messages-inner">
      <% @chatroom.messages.each do |message| %>
          <%= render "messages/message", message: message %>
      <% end %>
    </div>
  </div>


  <div class="message-form">
    <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
    %>

    <%= f.input :content,
      label: false,
      placeholder: "Message #{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"}
      %>
        <%= f.submit "Send", class: "btn btn-primary mb-4" %>
      <% end %>
  </div>

  <!-- arrange my date  model trigger -->

  <!-- logic to find our match and out date -->
  <% match = Match.find(@chatroom.match_id) %>
  <% our_date = SuggestedDate.find_by(match_id: match.id) %>
  <% if our_date.status = "pending" %>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#arrangedate">
      arrange my date
    </button>
  <% end %>
    <!-- view my date model trigger -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewdate">
      view my date
    </button>

<!-- arrange my date -->
<div class="modal fade" id="arrangedate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" data-controller="insert-date-details">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">arrange my date</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= link_to chatroom_suggested_date_path(@chatroom, status: "proposed"), data: {turbo_method: :patch} do %>
          <button class="btn btn-primary" data-action="click->insert-date-details#insert" data-insert-date-details-target="lucky">Lucky dip</button>
        <% end %>
        <div id="date-details" class="d-none"data-insert-date-details-target="details">
          <%# <% match = Match.find(@chatroom.match_id) %>
          <%# <% our_date = SuggestedDate.find_by(match_id: match.id) %>
          <%= our_date.time %>
          <%= our_date.date %>
          <% datelocation = DateLocation.find(our_date.date_location_id) %>
          <%= datelocation.name %>
          <%= datelocation.address %>
          <%= datelocation.date_type %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--view my date modal-->
<div class="modal fade" id="viewdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" data-controller="insert-date-details">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">view my date</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%# <%= link_to chatroom_suggested_dates_path(@chatroom), data: {turbo_method: :post} do %>
        <%# <button class="btn btn-primary" data-action="click->insert-date-details#insert" data-insert-date-details-target="lucky">Lucky dip</button> %>
        <%# <% end %>
        <div id="date-details" data-insert-date-details-target="details">
          <% match = Match.find(@chatroom.match_id) %>
          <% our_date = SuggestedDate.find_by(match_id: match.id) %>
          <%= our_date.time %>
          <%= our_date.date %>
          <% datelocation = DateLocation.find(our_date.date_location_id) %>
          <%= datelocation.name %>
          <%= datelocation.address %>
          <%= datelocation.date_type %>
        </div>
      </div>
      <div class="modal-footer">
        <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
          <button class="btn btn-success" >accept</button>
        <button class="btn btn-danger" >decline</button>
      </div>
    </div>
  </div>
</div>
<div style="height: 40px"></div>
