

    <div class="text-start-1">
       <%= link_to matches_path do=%>
         <i class="fa-solid fa-chevron-left fa-2x"></i>
        <% end %>
    </div>


    <% if current_user == @match.swipe.swiper %>
      <h1 class="page-title" style="margin: 30px; margin-top: -70px; margin-left: 70px;"><strong><%= @match.swipe.swipee.first_name %></strong></h1>
      <% elsif %>
      <% current_user == @match.swipe.swipee %>
      <h1 class="page-title" style="margin: 30px; margin-top: -70px; margin-left: 70px;"><strong><%= @match.swipe.swiper.first_name %></strong></h1>
      <% end %>

<div class="container d-flex flex-column" style="margin-top: 75px" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div data-controller="insert-date-details">
    <div class="top-section">
      <div class="text-center" style="position: absolute; left: 50%; transform: translateX(-50%);">
        <% if @our_dates == [] %>
          <div class="button-center">

            <button type="button" class="button-center" style="border-radius: 8px;" data-bs-toggle="modal" data-bs-target="#arrangedate" data-insert-date-details-target="arrange">

              Where & When
            </button>
          </div>
        <% elsif @our_dates[0].status == "proposed" %>
          <div class="button-center">
            <button type="button" class="button-center" style="border-radius: 8px;" data-bs-toggle="modal" data-bs-target="#confirmdate" data-insert-date-details-target="confirm">
              Suggested date
            </button>
          </div>
        <% elsif @our_dates[0].status == "accepted" %>
          <div class="button-center">
            <button type="button" class="button-center" style="border-radius: 8px;" data-bs-toggle="modal" data-bs-target="#accepteddate">
             You're going on a date!
            </button>
          </div>
        <% end %>
      </div>
    </div>



    <div class="messages flex-grow-1" data-chatroom-subscription-target="messages">
      <div class="messages-inner">
        <% @chatroom.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      </div>
    </div>

    <div class="message-form">
      <%= simple_form_for [@chatroom, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
        <%= f.input :content, label: false, placeholder: "Message #{@chatroom.name}", wrapper_html: {class: "flex-grow-1"} %>
        <%= f.submit "🤍", class: "btn btn-primary mb-4" %>
      <% end %>
    </div>

    <%# <i class="fa-solid fa-arrow-up"></i> %>
    <!-- arrange my date modal trigger -->
    <!-- logic to find our match and out date -->🤍
    <!-- arrange my date -->
    <div class="modal fade" id="arrangedate" tabindex="-1" aria-labelledby="arrangedateLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="arrangedateLabel" data-insert-date-details-target="model1title"><span style="color: $fourth-primary">Where</span> & <span style="color: $third-primary">When</span></h1>
          </div>

          <div class="modal-body plain-link">
            <div data-insert-date-details-target = "luckydipformdiv">
              <div class ="modal-buttons-display" style ="margin-top: 0px; padding-top: 0px;" data-insert-date-details-target = "luckydipformdiv">
                <h2>Lucky dip</h2>
                <p>Let us arrange the perfect date for you and <%= @chatroom.match.swipe.swipee.first_name%>!</p>
                <%= simple_form_for [@chatroom, @suggested_date], data: {insert_date_details_target: "luckydipform", action: "submit->insert-date-details#luckydip"} do |f| %>
                  <%= f.input :time, as: :hidden, input_html: { value: "#{["20:00"].sample}" } %>
                  <%= f.input :date, as: :hidden, input_html: { value: "#{["Thurs 3rd March"].sample}" } %>
                  <%= f.input :date_location_id, as: :hidden, input_html: { value: [1..30].sample } %>
                  <%= f.input :status, as: :hidden, input_html: { value: "proposed" } %>
                  <%= f.association :match, as: :hidden, input_html: { value: @chatroom.match.id } %>
                  <%= f.association :user, as: :hidden, input_html: { value: current_user } %>
                  <%= f.submit 'Tell me Where & When', class: "button-left propose-date-button" %>
                <% end %>
              </div>

              <div class ="modal-buttons-display"  >
                <h2>Help me decide</h2>
                <p>Check out our top suggestions based on both your preferences!</p>
                <button data-insert-date-details-target = "multidatesbutton" class="button-left propose-date-button" style = "margin-top: 12px;" data-action="click->insert-date-details#multiselectreveal">Give me some options</button>
              </div>
            </div>

            <div class="date-details" data-insert-date-details-target="details">
              <div data-insert-date-details-target = "multidates" id="multi-dates" class="modal-scrollable d-none">
                <div class="card-trip">
                  <img src="<%=cl_image_path @multi_dates[0].date_location.photo.key%>">
                  <div class="card-trip-infos" style="padding-bottom: 0px">
                    <div>
                      <h2 style="padding-bottom: 8px"><%= @multi_dates[0].date_location.date_type%> @ <%=@multi_dates[0].date_location.name%></h2>

                      <div><h2>Where</h2><p><%= @multi_dates[0].date_location.address %></p></div>
                      <div><h2>When</h2><p><%=@multi_dates[0].time %> on <%= @multi_dates[0].date %></p></div>
                    </div>
                  </div>
                  <%= simple_form_for [@chatroom, @suggested_date], data: {insert_date_details_target: "multiselectform0", action: "submit->insert-date-details#multiselect0"} do |f| %>
                    <%= f.input :time, as: :hidden, input_html: { value: @multi_dates[0].time } %>
                    <%= f.input :date, as: :hidden, input_html: { value: @multi_dates[0].date } %>
                    <%= f.input :date_location_id, as: :hidden, input_html: {value: @multi_dates[0].date_location_id} %>
                    <%= f.input :status, as: :hidden, input_html: { value: "proposed" } %>
                    <%= f.association :match, as: :hidden, input_html: { value: @multi_dates[0].match_id } %>
                    <%= f.association :user, as: :hidden, input_html: { value: current_user } %>
                    <%= f.submit 'Propose date', class: "button-center propose-date-button"%>
                  <% end %>
                </div>

                <div class = "card-trip">
                  <img src="<%=cl_image_path @multi_dates[1].date_location.photo.key%>">
                  <div class="card-trip-infos" style="padding-bottom: 0px">
                    <div>
                      <h2 style="padding-bottom: 8px"><%= @multi_dates[1].date_location.date_type%> @ <%= @multi_dates[1].date_location.name %></h2>

                      <div><h2>Where</h2><p><%=@multi_dates[1].date_location.address %></p></div>
                      <div><h2>When</h2><p><%=@multi_dates[1].time %> on <%= @multi_dates[1].date %></p></div>
                    </div>
                  </div>
                  <%= simple_form_for [@chatroom, @suggested_date], data: {insert_date_details_target: "multiselectform1", action: "submit->insert-date-details#multiselect1"} do |f| %>
                    <%= f.input :time, as: :hidden, input_html: { value: @multi_dates[1].time } %>
                    <%= f.input :date, as: :hidden, input_html: { value: @multi_dates[1].date } %>
                    <%= f.input :date_location_id, as: :hidden, input_html: {value: @multi_dates[1].date_location_id} %>
                    <%= f.input :status, as: :hidden, input_html: { value: "proposed" } %>
                    <%= f.association :match, as: :hidden, input_html: { value: @multi_dates[1].match_id } %>
                    <%= f.association :user, as: :hidden, input_html: { value: current_user } %>
                    <%= f.submit 'Propose date', class: "button-center propose-date-button" %>
                  <% end %>
                </div>

                <div class = "card-trip">
                  <img src="<%=cl_image_path @multi_dates[2].date_location.photo.key%>" />
                  <div class="card-trip-infos" style="padding-bottom: 0px">
                    <div>
                      <h2 style="padding-bottom: 8px"><%= @multi_dates[2].date_location.date_type%> @ <%= @multi_dates[2].date_location.name %></h2>

                      <div><h2>Where</h2><p><%=@multi_dates[2].date_location.address %> </p></div>
                      <div><h2>When</h2><p><%=@multi_dates[2].time %> on <%= @multi_dates[2].date %></p></div>
                    </div>
                  </div>
                  <%= simple_form_for [@chatroom, @suggested_date], data: {insert_date_details_target: "multiselectform2", action: "submit->insert-date-details#multiselect2"} do |f| %>
                    <%= f.input :time, as: :hidden, input_html: { value: @multi_dates[2].time } %>
                    <%= f.input :date, as: :hidden, input_html: { value: @multi_dates[2].date } %>
                    <%= f.input :date_location_id, as: :hidden, input_html: {value: @multi_dates[2].date_location_id} %>
                    <%= f.input :status, as: :hidden, input_html: { value: "proposed" } %>
                    <%= f.association :match, as: :hidden, input_html: { value: @multi_dates[2].match_id } %>
                    <%= f.association :user, as: :hidden, input_html: { value: current_user } %>
                    <%= f.submit 'Propose date', class: "button-center propose-date-button" %>
                  <% end %>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
   </div>

    <div class="modal fade" id="confirmdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title" id="exampleModalLabel" data-insert-date-details-target="model2title">Waiting for <%= @chatroom.match.swipe.swipee.first_name%> to respond...</h1>
          </div>

          <div class="modal-body">
            <div id="date-details" data-insert-date-details-target="confirmdetails">
              <% if @our_dates != [] %>
                <% if @our_dates[0].user == current_user %>
                  <div class = "card-trip">
                    <img src="<%=cl_image_path @our_dates[0].date_location.photo.key%>" />
                    <div class="card-trip-infos">
                      <div>
                        <h2 style="padding-bottom: 8px"><%=@our_dates[0].date_location.date_type %> @ <%= @our_dates[0].date_location.name %> </h2>

                        <div><h2>Where</h2><p><%= @our_dates[0].date_location.address %></p></div>

                        <div><h2>When</h2><p><%= @our_dates[0].time %> on <%= @our_dates[0].date %></p></div>
                      </div>
                    </div>
                  </div>
                <% else %>

                  <div class = "card-trip">
                    <img src="<%=cl_image_path @our_dates[0].date_location.photo.key%>" />
                    <div class="card-trip-infos">
                      <div>
                        <h2 style="padding-bottom: 8px"><%=@our_dates[0].date_location.date_type %> @ <%= @our_dates[0].date_location.name %> </h2>

                        <div><h2>Where</h2><p><%= @our_dates[0].date_location.address %></p></div>

                        <div><h2>When</h2><p><%= @our_dates[0].time %> on <%= @our_dates[0].date %></p></div>
                      </div>
                    </div>

                    <%= simple_form_for [@chatroom, @our_dates[0]], data: {insert_date_details_target: "acceptform", action: "submit->insert-date-details#accept"}, method: :patch do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: "accepted" } %>
                      <%= f.submit 'accept', class: "button-center propose-date-button"  %>
                      <%= f.submit 'decline', class: "button-center propose-date-button"  %>
                    <% end %>
                  </div>

                <% end %>
              <% end %>
            </div>
          </div>

          <div class="modal-footer">
          </div>

        </div>
      </div>
    </div>

    <div class="modal fade" id="accepteddate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="exampleModalLabel">Spruce up, it's date time!</h1>
          </div>

          <div class="modal-body date-details" >
            <% if @our_dates != nil %>
              <div data-insert-date-details-target="details">
                <% @our_dates.each do |date| %>
                  <div class = "card-trip">
                  <img src="<%=cl_image_path @our_dates[0].date_location.photo.key%>" />
                  <div class="card-trip-infos" >
                    <div>
                      <h2 style="padding-bottom: 8px"><%= date.date_location.date_type%> @ <%= date.date_location.name %></h2>

                      <div><h2>Where</h2><p><%= date.date_location.address %></p></div>
                      <div><h2>When</h2><p><%= date.time %> on <%= date.date %></p></div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>

      </div>
        <div class="modal-footer">
        </div>
    </div>
  </div>
</div>
<!--view my date modal-->
