<div class="container d-flex flex-column"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>
  <h1><%= @chatroom.name %></h1>

  <div class="messages flex-grow-1" data-chatroom-subscription-target="messages">
    <div class="messages-inner">
      <% @chatroom.messages.each do |message| %>
          <%= render "messages/message", message: message %>
      <% end %>
    </div>
  </div>


  <div class="message-form">
    <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
    %>

    <%= f.input :content,
      label: false,
      placeholder: "Message #{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"}
      %>
        <%= f.submit "Send", class: "btn btn-primary mb-4" %>
      <% end %>
  </div>

      <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= link_to chatroom_suggested_dates_path(@chatroom), data: {turbo_method: :post} do %>
              <button class="btn btn-primary">Lucky dip</button>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<div style="height: 40px">
</div>



