<div>
  <p><strong>What:</strong> <%= @suggested_date.date_location.date_type %></p>
  <p><strong>When: </strong><%= @suggested_date.time %>, <%= @suggested_date.date %></p>
  <p><strong>Where:</strong> <%= @suggested_date.date_location.name %> @ <%= @suggested_date.date_location.address %></p>
  <p style="color: green;">We're awaiting your date's response!</p>
  <%# <%= simple_form_for [@chatroom, @suggested_date], data: {insert_date_details_target: "acceptform", action: "submit->insert-date-details#accept"}, method: :patch do |f| %>
    <%# <%= f.input :status, as: :hidden, input_html: { value: "proposed" } %>
    <%# <%= f.submit 'propose' %>
  <%# <% end %>
</div>
