<div>
  <p><strong>What:</strong> <%= @suggested_date.date_location.date_type %></p>
  <p><strong>When: </strong><%= @suggested_date.time %>, <%= @suggested_date.date %></p>
  <p><strong>Where:</strong> <%= @suggested_date.date_location.name %> @ <%= @suggested_date.date_location.address %></p>
  <p style="color: green;">We've sent this to your date!</p>
</div>
