<div class = "card-trip" sttle>
  <img src="<%=cl_image_path @suggested_date.date_location.photo.key%>">
  <div class="card-trip-infos">
    <div>
      <h2 style="padding-bottom: 8px"><%=@suggested_date.date_location.date_type%> @ <%= @suggested_date.date_location.name %></h2>
      <div><h2>Where</h2><p><%= @suggested_date.date_location.address %></p></div>
      <div><h2>When</h2><p><%= @suggested_date.time %> on <%= @suggested_date.date %></p></div>
    </div>
  </div>
</div>
