<div class = "card-trip">
  <img src="<%=cl_image_path @suggested_date.date_location.photo.key%>">
  <div class="card-trip-infos" style = "padding-bottom: 0px !important;">
    <div>
      <h2><%= @suggested_date.date_location.date_type %></h2>
      <p><strong>When: </strong><%= @suggested_date.time %>, <%= @suggested_date.date %></p>
      <p><strong>Where:</strong> <%= @suggested_date.date_location.name %> @ <%= @suggested_date.date_location.address %></p>
      <p style="color: green;">We've sent this to your date!</p>
    </div>
  </div>
</div>
