<div class="container d-flex"><h1>Good afternoon <%= "#{current_user.first_name}" %></h1></div>


  <a class="plain-link" href="<%= browse_path(@chosen_user) %>">
  <div class="flex card-index card-text d-flex flex-column justify-content-center align-items-start"" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.stack.imgur.com/8ctbL.jpg)">
    <div class="profile-header-wrapper">
    <p class="profile-header-index"><%= @chosen_user.first_name %></p>
    <p class="text-index-job">Model</p>
     <p class="text-index-job" style="color: light grey">London, United Kingdom</p>
  </div>
  </div>
  </a>
  <div id="actions-show-index" class="card-actions-index">
    <%= link_to swipes_path(swipee_id: @chosen_user.id, islike: false), data: {turbo_method: :post} do %>
      <span><i class="fa fa-times-circle fa-4x"></i> </span>
    <% end %>
    <br>

    <%# if the user has already liked me, render a modal button that looks like the heart %>
    <%= link_to swipes_path(swipee_id: @chosen_user.id, islike: true), data: {turbo_method: :post} do %>
      <span><i class="fa fa-heart fa-4x" style="margin-left: 30px"></i> </span>
    <% end %>
</div>

<%# </a> %>
