<div class="container d-flex"><h1>Good afternoon <%= "#{current_user.first_name}" %></h1></div>


  <a class="plain-link" href="<%= browse_path(@chosen_user) %>">
  <div class="flex card-index card-text" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.stack.imgur.com/8ctbL.jpg)">
    <p class="profile-header-index"><%= @chosen_user.first_name %></p>
  </div>
  </a>
  <div id="actions-show" class="card-actions">
    <%= link_to swipes_path(swipee_id: @chosen_user.id, islike: false), data: {turbo_method: :post} do %>
      <span><i class="fa fa-times-circle fa-4x"></i> </span>
    <% end %>
    <br>

    <% if Swipe.find_by(swipee_id: current_user.id, swiper_id: @chosen_user.id, islike: true) %>
      <%# <%= link_to swipes_path(swipee_id: @chosen_user.id, islike: true), data: {turbo_method: :post} do %>
        <i type="button" class="fa fa-heart fa-4x" style="margin-left: 30px" data-bs-toggle="modal" data-bs-target="#viewdate"></i>
      <%# <% end %>
    <% else %>
      <%= link_to swipes_path(swipee_id: @chosen_user.id, islike: true), data: {turbo_method: :post} do %>
        <span><i class="fa fa-heart fa-4x" style="margin-left: 30px"></i> </span>
      <% end %>
    <% end %>

</div>

<!--view my date modal-->
<div class="modal fade" id="viewdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" data-controller="insert-date-details">
      <div class="modal-header">
        <h5 class="modal-title align-center" id="exampleModalLabel">It's a match!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%# <div class="avatar-bordered" style="height: 40px"><img src="https://i.stack.imgur.com/8ctbL.jpg"></div> %>
      </div>
      <div class="modal-footer">
        <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
        <%= link_to swipes_path(swipee_id: @chosen_user.id, islike: true), data: {turbo_method: :post} do %>
          <button class="btn btn-success">Keep browsing</button>
        <% end %>
          <button class="btn btn-secondary">Message <%=@chosen_user.first_name%>!</button>
      </div>
    </div>
  </div>
</div>
