<h5  class="page-title-1"><strong> Good afternoon, <%= @current_user.first_name %></strong></h5>
<div class="container d-flex"></div>
  <a class="plain-link" href="<%= browse_path(@chosen_user) %>">
  <div class="flex card-index card-text d-flex flex-column justify-content-center align-items-start" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=cl_image_path @chosen_user.photos[0].key%>'); background-size: cover">
    <div class="profile-header-wrapper">
    <p class="profile-header-index"><%= @chosen_user.first_name %></p>
    <p class="text-index-job">Model</p>
     <p class="text-index-job" style="color: light grey">London, United Kingdom</p>
  </div>
  </div>
  </a>

  <div id="actions-show-index" class="card-actions-index">
    <%= link_to swipes_path(swipee_id: @chosen_user.id, islike: false), data: {turbo_method: :post} do %>
      <span><i class="fa fa-times-circle fa-4x"  style="--fa-border-radius: 100%;--fa-border-color: red; margin-left: 30px;"></i> </span>
    <% end %>
    <br>

    <% if Swipe.find_by(swipee_id: current_user.id, swiper_id: @chosen_user.id, islike: true) %>
      <%# <%= link_to swipes_path(swipee_id: @chosen_user.id, islike: true), data: {turbo_method: :post} do %>
        <i type="button" class="fa fa-heart fa-4x" style="--fa-border-radius: 100%;--fa-border-color: red; margin-left: 30px;" data-bs-toggle="modal" data-bs-target="#viewdate"></i>

      <%# <% end %>
    <% else %>
      <%= link_to swipes_path(swipee_id: @chosen_user.id, islike: true), data: {turbo_method: :post} do %>
        <span><i class="fa fa-heart fa-4x"  style="--fa-border-radius: 100%;--fa-border-color: red; margin-left: 30px;"></i> </span>
      <% end %>
    <% end %>

</div>

<!--it's a match modal-->
<div class="modal fade" id="viewdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content-1" data-controller="insert-date-details">
      <div class="modal-header-1">
        <h1>You and <%=@chosen_user.first_name%> matched!</h1>
        <%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> %>
      </div>
      <div class="modal-body">
        <%# <div class="align-center"> %>
          <%# <img class="avatar-Xlarge" src="https://i.stack.imgur.com/8ctbL.jpg"> %>
          <%# <p style="text-align: center"><%=@chosen_user.first_name%>
        <%# </div> %>
        <%# <div class="align-center"> %>
          <%# <img class="avatar-Xlarge" src="https://i.stack.imgur.com/8ctbL.jpg"> %>
          <%# <p style="text-align: center"><%=current_user.first_name%>
        <%# </div> %>
        <div class ="match-photos">
          <i class="swiper-heart fa fa-heart fa-2x"></i>
          <img class="swiper-photo" src="https://img.freepik.com/free-photo/portrait-sexy-handsome-fashion-male-model-man-dressed-elegant-suit-posing-street-blue-sky_158538-8275.jpg?w=360&t=st=1678403309~exp=1678403909~hmac=ecee99dbddc19b6c64038fdac0227146480b5e439cf63c2d0db5dfb19d1b1494">
          <i class="swipee-heart fa fa-heart fa-2x"></i>
          <img class="swipee-photo" src="<%=cl_image_path @chosen_user.photos[0].key, crop: :fill%>">
        </div>
      </div>
      <div class="modal-footer">
        <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
        <%= link_to swipes_path(swipee_id: @chosen_user.id, islike: true), data: {turbo_method: :post} do %>
          <button class="keep-swiping rounded-corners btn btn-success"><h5>Keeping browsing</h5></button>
        <% end %>
      </div>
    </div>
  </div>
</div>
