<div class="container d-flex"><h1>Good afternoon <%= "#{current_user.first_name}" %></h1></div>


  <a class="plain-link" href="<%= browse_path(@chosen_user) %>">
  <div class="flex card-index card-text d-flex flex-column justify-content-center align-items-start" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=cl_image_path @chosen_user.photos[0].key%>'); background-size: cover">
    <div class="profile-header-wrapper">
    <p class="profile-header-index"><%= @chosen_user.first_name %></p>
    <p class="text-index-job">Model</p>
     <p class="text-index-job" style="color: light grey">London, United Kingdom</p>
  </div>
  </div>
  </a>
  <div id="actions-show-index" class="card-actions-index">
    <%= link_to swipes_path(swipee_id: @chosen_user.id, islike: false), data: {turbo_method: :post} do %>
      <span><i class="fa fa-times-circle fa-4x"></i> </span>
    <% end %>
    <br>

    <% if Swipe.find_by(swipee_id: current_user.id, swiper_id: @chosen_user.id, islike: true) %>
      <%# <%= link_to swipes_path(swipee_id: @chosen_user.id, islike: true), data: {turbo_method: :post} do %>
        <i type="button" class="fa fa-heart fa-4x" style="margin-left: 30px" data-bs-toggle="modal" data-bs-target="#viewdate"></i>
      <%# <% end %>
    <% else %>
      <%= link_to swipes_path(swipee_id: @chosen_user.id, islike: true), data: {turbo_method: :post} do %>
        <span><i class="fa fa-heart fa-4x" style="margin-left: 30px"></i> </span>
      <% end %>
    <% end %>

</div>

<!--it's a match modal-->
<div class="modal fade" id="viewdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" data-controller="insert-date-details">
      <div class="modal-header">
        <h1>You and <%=@chosen_user.first_name%> matched!</h1>
        <%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> %>
      </div>
      <div class="modal-body">
        <%# <div class="align-center"> %>
          <%# <img class="avatar-Xlarge" src="https://i.stack.imgur.com/8ctbL.jpg"> %>
          <%# <p style="text-align: center"><%=@chosen_user.first_name%>
        <%# </div> %>
        <%# <div class="align-center"> %>
          <%# <img class="avatar-Xlarge" src="https://i.stack.imgur.com/8ctbL.jpg"> %>
          <%# <p style="text-align: center"><%=current_user.first_name%>
        <%# </div> %>
        <div class ="match-photos">
          <i class="swiper-heart fa fa-heart fa-2x"></i>
          <img class="swiper-photo" src="https://media.licdn.com/dms/image/C4D03AQGfaZCKuh-C3w/profile-displayphoto-shrink_800_800/0/1608214212198?e=2147483647&v=beta&t=eNQKh8QiehqH8wAhp66KLh7RJ0JchHTP6LTtJtG06Ss">
          <i class="swipee-heart fa fa-heart fa-2x"></i>
          <img class="swipee-photo" src="<%=cl_image_path @chosen_user.photos[1].key, crop: :fill%>">
        </div>
      </div>
      <div class="modal-footer">
        <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
        <%= link_to swipes_path(swipee_id: @chosen_user.id, islike: true), data: {turbo_method: :post} do %>
          <button class="keep-swiping rounded-corners btn btn-success"><h5>Keeping browsing</h5></button>
        <% end %>
      </div>
    </div>
  </div>
</div>
