<h1 class="page-title"><strong>Matches</strong></h1>

<%# <div class="card-product ">
  <div class="card-product-infos"> %>
    <div class="match-card">
      <% @matches.each do |match| %>
        <% if current_user == match.swipe.swiper%>
          <%= link_to chatroom_path(match.chatroom.id) do %>
            <div class="match-card">
              <div class="card-product">
                  <img src="<%=cl_image_path match.swipe.swipee.photos[0].key%>" class="avatar-bordered" style="margin-left: 20px;"/>
                  <div class="card-product-infos">
                    <h2><%= match.swipe.swipee.first_name %></h2>
                      <% if match.chatroom.messages == [] %>
                      <% else %>
                        <% if match.chatroom.messages.last.user != current_user %>

                          <p class="reply-text" ><%= truncate(match.chatroom.messages.last.content, length: 21) %></p>

                        <% else %>
                          <p><%= truncate(match.chatroom.messages.last.content, length: 21) %></p>
                        <% end %>
                      <% end %>
                  </div>
                  <% if match.chatroom.messages == [] %>
                  <% else %>
                    <% if match.suggested_date != nil && match.suggested_date.user_id != current_user.id && match.suggested_date.status == "proposed" %>
                      <div class="turn-btn-suggested">
                        <p>You free?</p>
                      </div>
                    <% elsif  match.suggested_date != nil && match.suggested_date.status == "accepted" %>
                      <div class="turn-btn-confirmed">
                        <p>Date time</p>
                      </div>
                    <% end %>
                  <% end %>
                </div>
            </div>
          <% end %>
        <% elsif current_user == match.swipe.swipee %>
          <%= link_to chatroom_path(match.chatroom.id) do %>
            <div class="match-card">
              <div class="card-product">
                  <img src="<%=cl_image_path match.swipe.swiper.photos[0].key%>" class="avatar-bordered"/>
                  <div class="card-product-infos">
                    <h2><%= match.swipe.swiper.first_name %></h2>
                      <% if match.chatroom.messages == [] %>
                      <% else %>
                        <% if match.chatroom.messages.last.user != current_user %>

                          <p class="reply-text"><%= truncate(match.chatroom.messages.last.content, length: 21) %></p>
                        <% else %>
                          <p ><%= truncate(match.chatroom.messages.last.content, length: 21) %></p>

                        <% end %>
                      <% end %>
                  </div>
                  <% if match.chatroom.messages == [] %>
                  <% else %>
                    <% if match.suggested_date != nil && match.suggested_date.user_id != current_user.id && match.suggested_date.status == "proposed" %>
                      <div class="turn-btn-suggested">
                        <p>You free?</p>
                      </div>
                    <% elsif  match.suggested_date != nil && match.suggested_date.status == "accepted" %>
                      <div class="turn-btn-confirmed">
                        <p>Date time</p>
                      </div>
                    <% end %>
                  <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
</div>


<%# I now need to access photo for the swiper/swipee profile as well as the last message. %>
<%# chatroom.match.suggested_dates.last  %>
<%# need to create a card that contains three other cards, one for profile pic that will be pushed left %>
<%# one for the match.first_name and one for the last message sent from a chatroom (not entirely sure how to do this) %>
<%# match.chatroom.messages.last  %>
